.footer-container{
    height: 50vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.right-footer{
    height: 40vh;
    width: 60vw;
    /* background-color: olive; */
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
}

.left-footer{
    height: 40vh;
    width: 40vw;
    /* background-color: blue; */
}

.onehorizontal{
    height: 40vh;
    width: 100%;
    /* background-color: orange; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.onehorizontal h3{
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: #FD7385 ;
}

.onehorizontal p{
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color:#03045E;
}

.last-line{
    height: 10vh;
    width: 100%;
    /* background-color: beige; */
    align-items: center;
    justify-content: end;
    display: flex;
    gap: 30px;
    padding-right: 50px;
}

.first-line{
    height: 40vh;
    width: 100%;
    /* background-color: yellow; */
    /* align-items: center; */
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* border-bottom: 2px solid #FD7385; */
}

.divider {
    width: 1500px; /* Specific length for the line */
    height: 2px; /* Thickness of the line */
    background-color: #FD7385; 
    margin: 10px auto; /* Center the line horizontally with some margin */
}

.upup{
    height: 4vh;
    width: 100%;
    /* background-color: pink; */
    align-items: flex-end;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: #03045E ;
    
}

.upupdown{
    height: 16vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.updowndown{
    height: 16vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 95px;
}

.upupdown img{
    height: 12vh;
    width: auto;
}

.updowndown img{
    height: 13vh;
    width: auto;
}

.last-line img{
    height: 30px;
    width: auto;

}
